.card {
    margin-top: 50px;
    margin-left: 100px;
    margin-bottom: 20px;
    box-shadow: 0 0 20px rgba(255, 255, 0, 0.5);
}

.card img {
        width: 260px;
        height: 200px;
  }

.custom-navbar {
    background-color: #FFE600;
    color: #000000;
}

.form-control {
    background-color: #FFEEA0;
    color: #333333;
    border: 2px solid #FFD700;
    border-radius: 5px;
    padding: 5px; 
    width: 200px; 
}

.form-control input[type="search"]::placeholder {
    color: #666666; 
}

.btn {
    background-color: #00A86B;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
    margin-left: 5px;
}

.btn:hover{
    background-color:black;
}

.btnSearch {
    background-color: #00A86B;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
    margin-left: 5px;
}

.btnSearch:hover {
  background-color: black;
   }

.cart-item {
    margin-left: auto;
}

#Imagenes {
    max-width: 1000px !important;
    height: auto !important;
    
}


section {
    background-color: #f8f9fa;
    padding: 20px;
    margin-top: 20px;
    border: 1px solid #dee2e6;
    border-radius: 10px; 
    box-shadow: 0 0 20px rgba(255, 255, 0, 0.5); 
    text-align: center;
}


.card-container {
    max-width: 18rem;
    margin: 10px;
    margin-top: 50px;
    margin-bottom: 20px;

}

.card-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.card-title {
    font-size: 1.25rem;
}

.card-text {
    font-size: 1rem;
}

.custom-brand {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #008000; 
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

body {
    padding-bottom: 200px;
}

.carrito-header {
    font-size: 24px;
    color: #333 !important;
    text-align: center;
    margin-top: 20px;
}
.cart-item-count {
    background-color: #00A86B;
    color: #fff; 
    border-radius: 50%;
    padding: 4px 8px;
    font-size: 14px; 
    margin-left: 5px;
}
