.card {
    margin-top: 50px; 
    margin-left: 100px;
    margin-bottom: 20px;
}

.card img {
        width: 260px;
        height: 200px;
  }

.custom-navbar {
    background-color: #FFE600;
    color: #000000;
}

.form-control {
    background-color: #FFEEA0;
    color: #333333;
    border: 2px solid #FFD700;
    border-radius: 5px;
    padding: 5px; 
    width: 200px; 
}

.form-control input[type="search"]::placeholder {
    color: #666666; 
}

.btn {
    background-color: #00A86B;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
    margin-left: 5px;
}

.btn:hover{
    background-color:black;
}

.btnSearch {
    background-color: #00A86B;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
    margin-left: 5px;
}

.btnSearch:hover {
  background-color: black;
   }

.cart-item {
    margin-left: auto;
}

#Imagenes {
    max-width: 1000px !important;
    height: auto !important;
    
}


section {
    background-color: #ffffff; /* Color de fondo */
    padding: 20px; /* Espaciado interior */
    margin-top: 20px; /* Espaciado superior */
    border: 1px solid #ddd; /* Borde */
    border-radius: 5px; /* Bordes redondeados */
    box-shadow: 0 0 40px rgba(255, 255, 0, 0.5); /* Sombra amarilla */
    text-align: center; /* Centrar contenido */
}

